@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Hammersmith One", sans-serif;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    overflow: hidden !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #222222;
    background: -webkit-linear-gradient(to right, #414345, #222222);
    background: linear-gradient(to right, #414345, #222222);
    /* unselectable for different browsers */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .menu-title {
    color: #FDF6F0;
}

.container .menu-box {
    height: 50px;
    width: 500px;
    background-color: #FDF6F0;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.container .menu-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.container .menu-box li {
    display: inline;
    transition: all 650ms ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container .menu-box li::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #1f1d1d;
    right: 100%;
    bottom: 0px;
    z-index: -1;
    -webkit-transition: 650ms all ease;
    transition: 650ms all ease;
}

.container .menu-box li:hover::before {
    right: 0%;
}

.container .menu-box li a {
    text-decoration: none;
    color: grey;
    transition: all 650ms ease;
    display: flex;
}

.container .menu-box li a:hover {
    cursor: pointer;
    color: black;
}

.container .menu-box-icon {
    height: 50px;
    width: 500px;
    background-color: #FDF6F0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.container .menu-box-icon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.container .menu-box-icon li {
    display: inline;
    transition: all 650ms ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container .menu-box-icon li::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #1f1d1d;
    right: 100%;
    bottom: 0px;
    z-index: -1;
    -webkit-transition: 650ms all ease;
    transition: 650ms all ease;
}

.container .menu-box-icon li:hover::before {
    right: 0%;
}

.container .menu-box-icon li a {
    text-decoration: none;
    color: #808080;
    transition: all 650ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .menu-box-icon li a svg {
    transition: all 650ms ease;
}

.container .menu-box-icon li a:hover {
    cursor: pointer;
    color: black;
}

.container .menu-box-icon li a:hover svg {
    fill: black !important;
}