* {
    box-sizing: border-box;
}

body {
    background-color: #DDDDDD;
    font-family: Helvetica, sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: -webkit-linear-gradient(to right, #414345, #222222);
    /* background: linear-gradient(to left, #feffff, rgb(240, 240, 240)); */
}

p {
    font-weight: 100;
    color: rgb(255, 250, 250);
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-bar {
    background-color: #171417;
    height: 2em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.menu-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.menu-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.menu-bar a.active {
    background-color: #04AA6D;
    color: white;
}

.title-div{
    background-color: #231E1F;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 10em;
}

.title {
    text-align: center;
    margin: 3em;
    color: #ffffff;
}

.paper-box {
    top: 11em;
    left: 0;
    width: 100%;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 5px solid red;  */
}

.paper{
    width: 45%;
    height: 10em;
    position: relative;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1.5em;
    /* border: 5px solid blue;  */
}

.paper img{
    width: 8em;
    height: 10em;
    display: inline-block;
    margin-right: 1em;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    /* border:  5px solid green;  */
}

.paper-info {
    width: 75%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    /* border: 5px solid orange;  */
}

.paper-info h3 {
    height: 2em;
    /* border: 5px solid orange;  */
}

.paper-info h5, p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.637);
}

.paper-info a {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.paper-info a:hover {
    color: rgba(0, 0, 0, 0.486);
}

/* on screens less than 600px wide */
/* for some reason this is not working */
@media screen and (max-width: 600px) {
    .paper{
        width: 100%;
    }
}