@charset "UTF-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}
table td {
  border: 1px solid #e8e8e8;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 54px;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: #424242;
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.page-heading {
  font-size: 32px;
}

.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}
.highlighter-rouge .highlight {
  background: #eef;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

:root {
  --side-bar-bg-color: #fafafa;
  --control-text-color: #777;
  --monospace: "Jetbrains Mono", "思源黑体 CN";
}

body,
.title-text {
  background-color: white;
  font-family: "Inter", "思源黑体 CN";
  word-wrap: break-word;
  color: rgb(12, 12, 12);
  line-height: 1.6;
}

#write {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
}

#write > ul:first-child,
#write > ol:first-child {
  margin-top: 30px;
}

a.md-inner-link {
  color: #3b78e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: text;
  font-feature-settings: "tnum";
}

.md-toc {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-feature-settings: "tnum";
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code {
  font-size: inherit;
}

h2 tt,
h2 code {
  font-size: inherit;
}

h3 tt,
h3 code {
  font-size: inherit;
}

h4 tt,
h4 code {
  font-size: inherit;
}

h5 tt,
h5 code {
  font-size: inherit;
}

h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  font-family: "Inter", "思源黑体 CN";
  padding-bottom: 0.1em;
  font-size: 2.25em;
  line-height: 1.5;
}

h1 strong {
  font-weight: 800;
}

li.active {
  background-color: #000;
  color: #fff;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
  line-height: 2;
}

h5 strong {
  background-color: #3b78e7;
  color: white;
  font-weight: 800;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  padding: 0;
  font-family: Inter;
  font-feature-settings: "tnum" 0;
  border-radius: 3px;
}

h6 {
  font-size: 1em;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.8em 0;
}

li > ol,
li > ul {
  margin: 0 0;
}

hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

a > span > code {
  color: #3b78e7 !important;
  text-decoration: none !important;
}

blockquote {
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #e8ffeb;
  font-family: "思源宋体 CN";
  color: #252d34;
}

blockquote code {
  background-color: transparent;
}

h2:hover:before,
h1:hover:before,
h3:hover:before {
  content: "#";
  width: 0px;
  position: absolute;
  left: -24px;
  opacity: 0.1;
}

blockquote blockquote {
  padding-right: 0;
}

table {
  padding: 0;
  word-break: initial;
  margin: auto; /* for vscode adaptation */
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

.CodeMirror-lines {
  line-height: 1.5rem !important;
  padding-left: 6px;
}

.code-tooltip {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18) !important;
}

code,
tt {
  border-radius: 4px;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
  font-family: "Jetbrains Mono", "思源黑体 CN";
}

code {
  color: #6f65fc;
  font-weight: 600;
  background-color: #f4f7f8;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

mark {
  background-color: inherit;
  color: #b5302e;
  font-weight: 800;
}

del {
  border-radius: 4px;
  color: #d4d4d4;
  font-weight: inherit;
  background-color: rgba(212, 212, 212, 0.1882352941);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration-color: #d4d4d4;
}

.md-fences {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
  line-height: 1.25rem;
}

.md-task-list-item > input {
  margin-left: -1.3em;
}

.md-br-content .md-raw-inline {
  opacity: 0.5;
}

@media print, (overflow-block: paged) or (overflow-block: optional-paged) {
  /* Move top-level headings to a new page on the right-hand side: */
  h1 {
    page-break-before: right;
    /* CSS 2 */
    break-before: recto;
    /* CSS 3+, 
    also works for languages written and paginated right-to-left */
  }
  /* Override the previous ruleset for the very first heading: */
  h1:first-of-type,
  section > h1:first-child {
    page-break-before: avoid;
    /* CSS 2 */
    break-before: avoid;
    /* CSS 3+ */
  }
  /* Force second-level headings to begin in a new column or
  possiblyon a new page if it was in the last of multiple columns otherwise: */
  h2 {
    break-before: column;
  }
  /* Headings should not be the last paragraph on a page: */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
  /* Consecutive headings with deepening level should not be split across pages: */
  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    page-break-before: avoid;
  }
  html {
    font-size: 10px;
    background-color: white;
    line-height: 3 !important;
  }
  body {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    font-family: "Inter", "思源黑体 CN";
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
  ol {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 4px;
  }
  a > span > code,
  a > code,
  a code {
    background-color: rgba(59, 120, 231, 0.0941176471) !important;
  }
  a {
    color: #3b78e7 !important;
    text-decoration: none !important;
  }
  .md-plain {
    line-height: 3 !important;
  }
  code {
    font-variant-ligatures: common-ligatures !important;
  }
}
.page-break:before {
  background-color: #05685b;
}

.page-break:before {
  content: "Page Break";
}

.md-toc-inner {
  margin: 2px;
}

.md-toc-h1 {
  margin-top: 16px;
}

.md-toc-h2 {
  margin-top: 8px;
}

/* h1 strong, h2 strong, h3 strong, h4 strong, h6 strong, .md-toc strong{
font-weight: 800;
border-radius: 4px;
background-color: #f1f3f4;
} */
.md-p a,
a.md-toc-inner {
  color: #3b78e7 !important;
  text-decoration: none !important;
  border-bottom: 2px solid rgba(59, 120, 231, 0);
  transition: all 0.16s;
}

.md-p a:hover,
a.md-toc-inner:hover {
  color: #3b78e7 !important;
  text-decoration: none !important;
  border-bottom: 2px solid #3b78e7;
  transition: all 0.16s;
}

.md-content.md-url {
  color: #05685b !important;
  text-decoration: none !important;
  font-family: "Jetbrains Mono";
}

a > span > code,
a > code,
a code {
  color: #3b78e7 !important;
  text-decoration: none !important;
  background-color: rgba(59, 120, 231, 0.0941176471) !important;
}

.md-link {
  text-decoration: none !important;
  border-bottom: 2px solid rgba(59, 120, 231, 0);
  transition: all 0.2s;
}

.md-link:hover {
  border-bottom: 2px solid #3b78e7;
  transition: all 0.2s;
}

.md-fences {
  background-color: #f4f7f8;
  border-radius: 4px;
  padding: 12px;
  font-size: 0.9em;
  font-family: "Jetbrains Mono", "思源黑体 CN";
}

#write pre.md-meta-block {
  padding: 1rem;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  color: #777777;
  margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
  bottom: 0.2rem;
}

.md-mathjax-midline {
  background: #fafafa;
}

#write > h3.md-focus:before {
  left: -1.5625rem;
  top: 0.375rem;
}

#write > h4.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}

#write > h5.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}

#write > h6.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}

.md-image > .md-meta {
  /*border: 1px solid #ddd;*/
  border-radius: 3px;
  padding: 2px 0px 0px 4px;
  font-size: 0.9em;
  color: inherit;
}

.md-tag {
  color: #a7a7a7;
  opacity: 1;
}

.md-toc {
  margin-top: 20px;
  padding-bottom: 20px;
}

.sidebar-tabs {
  border-bottom: none;
}

#typora-quick-open {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

#typora-quick-open-item {
  background-color: #FAFAFA;
  border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
  border-style: solid;
  border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
  font-family: "Inter", "思源黑体 CN";
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
  visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
  background-color: #fafafa;
  background-color: var(--side-bar-bg-color);
}

.md-lang {
  color: #b4654d;
}

.html-for-mac .context-menu {
  --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
  border: 0;
}

.dropdown-menu .divider {
  border-color: #e5e5e5;
}

.ty-preferences .window-content {
  background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
  color: white;
  background: rgba(0, 0, 0, 0.062745098);
}

.CodeMirror-linenumber {
  color: rgba(20, 20, 20, 0.3);
}

.CodeMirror-gutters {
  border-right: none;
  /* border-right: 1.08px solid rgba(20, 20, 20, 0.3); */
}

.context-menu {
  border: none !important;
  backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
  background-color: rgba(255, 255, 255, 0.8156862745);
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18) !important;
}

.divider {
  background-color: rgba(0, 0, 0, 0.1254901961) !important;
  border: none !important;
}

.ty-footer,
.sidebar-footer {
  backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
  border: none !important;
  background: none;
  background-color: rgba(255, 255, 255, 0.4392156863);
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

#sidebar-files-menu {
  border-radius: 4px;
  border: none !important;
  background-color: #ffffff;
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

@media (min-width: 1000px) {
  footer.ty-footer {
    background-color: rgba(255, 255, 255, 0.4392156863);
    border: none !important;
    right: 0 !important;
    backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
  }
}
@media (max-width: 1000px) {
  footer.ty-footer {
    background-color: rgba(255, 255, 255, 0.4392156863);
    border: none !important;
    backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  }
}
.code-tooltip.md-tooltip-hide.md-hover-tip {
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

.md-rawblock-control.md-rawblock-after {
  margin-bottom: 12px;
}

#typora-sidebar {
  background-color: #fafafa !important;
  border: none !important;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108) !important;
}

.file-node-title {
  color: #0f0f0f;
}

#footer-word-count-info,
#spell-check-panel {
  border: none !important;
  background-color: #ffffff !important;
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18) !important;
}

content {
  bottom: 4px;
}

@font-face {
  font-family: "FontAwesome";
}
blockquote > h4,
blockquote > h5,
blockquote > h6 {
  font-size: 1em;
  columns: inherit;
}

blockquote > h4::before {
  width: 24px;
  content: "\f097";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome2;
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote > h5::before {
  width: 32px;
  content: "e.g.";
  display: inline-block;
  font-style: italic;
  font-size: 1.2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.5;
}

blockquote > h6::before {
  width: 24px;
  content: "\f27b";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome2;
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  columns: inherit;
}

.ol-list {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.MetaInfo-Author {
  opacity: 0.6;
  margin-top: -6px;
}

.MetaInfo-Deadline {
  display: none;
  opacity: 0;
}

.cm-keyword,
.cm-variable-3,
.cm-tag {
  color: #3b78e7 !important;
}

.cm-def,
.cm-attribute {
  color: #9c27b0 !important;
}

.cm-comment {
  color: #d81b60 !important;
  font-style: oblique !important;
  font-variant-ligatures: common-ligatures !important;
  font-variation-settings: "slnt" -9;
}

.cm-string {
  color: #0d904f !important;
  font-style: italic !important;
  font-variant-ligatures: common-ligatures !important;
}

.cm-tag:not(.cm-bracket) {
  font-weight: 700;
}

.cm-operator {
  color: #d81b60 !important;
}

.cm-number {
  color: #d81b60 !important;
}

.cm-meta {
  color: #9c27b0 !important;
  font-weight: 700 !important;
}

.cm-builtin {
  font-style: italic !important;
}

.file-tree-node.active > .file-node-background {
  background-color: var(--active-file-bg-color);
  border-left: 4px solid #3b78e7 !important;
  border-color: #3b78e7 !important;
  background-color: rgba(59, 120, 231, 0.0941176471) !important;
}

/* added for VSCODE adaptation */
img {
  display: block;
  margin: auto;
}

.footer-col-1 {
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - 15px);
}

.footer-col-2 {
  width: -webkit-calc(25% - (30px / 2));
  width: calc(25% - 15px);
}

.footer-col-3 {
  margin-top: -1em;
  width: -webkit-calc(40% - (30px / 2));
  width: calc(40% - 15px);
}

.toc_collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  font-size: 16px;
}

.toc_collapsible:hover {
  background-color: #cccccc;
  color: white;
}

.toc_collapsed {
  /* background-color: #ccc; */
  max-width: 10px;
}

.hidden {
  display: none;
}

div.section-nav {
  position: fixed;
  left: 15px;
  top: 70px;
  background-color: #fff;
  padding: 10px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  /* scroll */
  max-height: 80vh;
  max-width: 75vw;
  overflow-y: scroll;
  width: 320px;
  display: block;
  z-index: 100;
}

/*# sourceMappingURL=main.css.map */